  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[2].Visibility">{{dealData.PortId}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>
  <td [hidden]="!colOptions[0].Visibility">{{dealData.OrderNumber}}</td>


