  <div class="col-md-4 offset-sm-1">
    <br/>
    <h2>Login</h2>

    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" name="username" [(ngModel)]="currentUser.username"
               #username="ngModel" required>
        <!--     <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>   -->
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="currentUser.password"
               #password="ngModel" required/>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <button class="btn btn-primary" (click)="login(currentUser.username,currentUser.password)">
        Login
      </button>
      <div class="form-group">

      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>

  </div>
