<div class="container">
  <div class="row">
    <a id="to-product" href="vars/products">Products</a>
    <a id="to-buyer" href="vars/buyers">Buyers</a>
    <a id="to-consignee" href="vars/consignees">Consignees</a>
    <a id="to-countries" href="vars/countries">Countries</a>
    <a id="to-formulations" href="vars/formulations">Formulations</a>
    <a id="to-packages" href="vars/packages">Package</a>
    <a id="to-ports" href="vars/ports">Ports</a>
  </div>
</div>


<router-outlet></router-outlet>


